{% if result.count > 0 %}
{% for activity in result %}
  <li>

    <a href="{% url 'activitysinglepackage' pk1=activity.associated_adventure.id %}"><img src="{{activity.logo}}" alt="Image Alternative text" title="{{activity.title}} - {{activity.destination}}" style="max-height: 40px; width:auto;"/> {{activity.title}} - <small style="text-align: center;">Starting from Rs.{{activity.price_per_person}}</small></a>

</li>

{% endfor %}
{% else %}

<li><a href="#">No packages matching</a></li>

{% endif %}
