{% load staticfiles %}
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->

<div class="global-wrap">
    <header id="main-header">
      <nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="{% url 'home' %}">
                            <img src="{% static 'img/logo-invert.png' %}" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>


                    <div class="col-md-4 col-md-offset-5">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a href="{% url 'userprofile' %}">
                                        <img class="origin round" src="{%static 'img/40x40.png' %}" alt="Image Alternative text" title="AMaze" />Hi, John</a>
                                </li>
                                <li><a href="#">Sign Out</a>
                                </li>
                                <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                    <ul class="list nav-drop-menu">
                                        <li><a href="#">EUR<span class="right">€</span></a>
                                        </li>
                                        <li><a href="#">GBP<span class="right">£</span></a>
                                        </li>
                                        <li><a href="#">JPY<span class="right">円</span></a>
                                        </li>
                                        <li><a href="#">CAD<span class="right">$</span></a>
                                        </li>
                                        <li><a href="#">AUD<span class="right">A$</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="top-user-area-lang nav-drop">
                                    <a href="#">
                                        <img src="{% static 'img/flags/32/uk.png' %}" alt="Image Alternative text" title="Image Title" />ENG<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                    </a>
                                    <ul class="list nav-drop-menu">
                                        <li>
                                            <a title="German" href="#">
                                                <img src="img/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Japanise" href="#">
                                                <img src="img/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Italian" href="#">
                                                <img src="img/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="French" href="#">
                                                <img src="img/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Russian" href="#">
                                                <img src="img/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Korean" href="#">
                                                <img src="img/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav nav-fixed" >
                <ul class="slimmenu" id="slimmenu">
                    <li class="active"><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li><a href="{% url 'traveldiaries' %}">Travel Diaries</a>
                    </li>
                    <li><a href="{% url 'gallery' %}">Gallery</a>
                    </li>
                    <li><a href="{% url 'destination' %}">Adventure Destinations</a>
                    <ul>
                      <li><a href="success-payment.html">Goa Semester Party Break</a>
                      </li>
                      <li><a href="user-profile.html">Kasol Kheerganga Trek</a>
                          <ul>
                              <li><a href="user-profile.html">Kasol Kheerganga</a>
                              </li>
                              <li><a href="user-profile-photos.html">Photos</a>
                              </li>
                          </ul>
                        </li>
                        <li><a href="user-profile.html">McLeodganj Triund Trek</a>
                        </li>
                        <li><a href="user-profile.html">Rishikesh Adventures</a>
                          <ul>
                              <li><a href="user-profile.html">Kasol Kheerganga</a>
                              </li>
                              <li><a href="user-profile-photos.html">Photos</a>
                              </li>
                          </ul>
                        </li>
                        </li>
                      </ul>
                    </li>
                    <li><a href="about.html">Travellers</a></li>
                    <li><b><a href="{% url 'travelfree' %}" style="color: white; background-color: #ed8323;">Travel Free </a></b></li>
                </ul>
            </div>
        </div>
          </nav>
    </header>
    <br><br><br><br><br>

</div>
