{% extends 'base2.html' %}
{% load staticfiles %}
{% block body %}
<div class="gap">
<div class="container" style="background: white;">

    <div id="popup-gallery">

        <div class="row">
          <div class="col-md-9">
<h3 style="font-family: 'Teko', sans-serif; text-align: center; color: white;">{{article.title}}</h3>
          {% for single_post in post_list %}



              <div style="text-align:center; padding-top: 15px;">
                <div class="thumb">
                  <div class="row">
                  <div class="col-xs-12">
                    <header class="thumb-header">
                        <a class="hover-img" href="#">
                            <div class="imagepersonal" style="background-image:url('{{single_post.image}}');"></div>
                        </a>
                    </header>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="thumb-caption">

                        <h4 class="thumb-title" style="font-family: 'Teko', sans-serif; text-align: center;"><a class="text-darken" href="#">{{single_post.title}}</a></h4>

                        <p class="thumb-desc">{{single_post.description|safe}}</p>

                    </div>
                  </div>
                </div>
                </div>

            </div>

            {% endfor %}

</div>

        </div>
    </div>
</div>



<div class="gap"></div>
<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="index.html">
                    <img src="{% static 'img/logo-invert.png' %}" alt="Image Alternative text" title="Image Title" />
                </a>
                <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4>Newsletter</h4>
                <form>
                    <label>Enter your E-mail Address</label>
                    <input type="text" class="form-control">
                    <p class="mt5"><small>*We Never Send Spam</small>
                    </p>
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </form>
            </div>
            <div class="col-md-2">
                <ul class="list list-footer">
                    <li><a href="#">About US</a>
                    </li>
                    <li><a href="#">Press Centre</a>
                    </li>
                    <li><a href="#">Best Price Guarantee</a>
                    </li>
                    <li><a href="#">Travel News</a>
                    </li>
                    <li><a href="#">Jobs</a>
                    </li>
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                    <li><a href="#">Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Have Questions?</h4>
                <h4 class="text-color">+1-202-555-0173</h4>
                <h4><a href="#" class="text-color">support@traveler.com</a></h4>
                <p>24/7 Dedicated Customer Support</p>
            </div>

        </div>
    </div>
</footer>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/slimmenu.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
<script src="{% static 'js/nicescroll.js' %}"></script>
<script src="{% static 'js/dropit.js' %}"></script>
<script src="{% static 'js/ionrangeslider.js' %}"></script>
<script src="{% static 'js/icheck.js' %}"></script>
<script src="{% static 'js/fotorama.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/card-payment.js' %}"></script>
<script src="{% static 'js/magnific.js' %}"></script>
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/fitvids.js' %}"></script>
<script src="{% static 'js/tweet.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/gridrotator.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</div>
{% endblock %}
