BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
boto==2.38.0
chardet==2.3.0
cryptography==1.2.3
decorator==4.2.1
Django==1.11.4
django-filter==1.1.0
django-model-utils==3.1.2
django-notifications-hq==1.4.0
duplicity==0.7.6
enum34==1.1.2
html5lib==1.0.1
idna==2.0
ipaddress==1.0.16
ipython==5.5.0
ipython-genutils==0.2.0
jsonfield==2.0.2
lockfile==0.12.2
lxml==3.5.0
mechanize==0.3.6
ndg-httpsclient==0.4.0
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.1.9
Pygments==2.2.0
pygobject==3.20.0
pyOpenSSL==0.15.1
python-cloudfiles==1.7.10
pytz==2017.2
pyxdg==0.25
requests==2.9.1
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.13.1
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
xlrd==1.1.0
